.header-top {
  .header-top__connection {
    display: grid;
    background: #F8F8F8;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    text-align: center;
    padding: 8px 0;
    .header-top__phone {
      span {
        font-family: $OpenSans;
        font-weight: 400;
      }
    }
    .header-top__link {
      a {
        font-weight: 600;
        text-decoration: none;
        font-size: 16px;
        color: black;
        font-family: $OpenSans;
        &:hover {
          transition: .7s;
          color: #8d8d8d;
        }
      }
    }
  }
  .header-top__main {
    padding: 60px 0;
    .container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      .header-top__left {
        display: flex;
        align-items: center;
        .header-top__logo {
          margin: 0 50px 0 0;
        }
      }
      .header-top__right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        a {
          text-decoration: none;
          color: black;
        }
        .header-top__search {
          margin: 0 15px 0 0;
          .button-open__search {
            display: flex;
            cursor: pointer;
            img {
              transition: .6s easy;
              width: 30px;
              height: 30px;
            }
          }
          .button-close__search {
            display: flex;
            cursor: pointer;
            img {
              transition: .6s easy;
              width: 40px;
              height: 40px;
            }
          }
        }
        .header-top__enter {
          margin: 0 15px 0 0;
          span {
            font-family: $OpenSans;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            align-items: center;
            cursor: pointer;
            img {
              margin: 0 10px 0 0;
            }
          }
        }
        .header-top__favorite {
          margin: 0 15px 0 0;
          span {
            font-family: $OpenSans;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            align-items: center;
            cursor: pointer;
            img {
              margin: 0 10px 0 0;
              width: 25px;
              height: 25px;
            }
          }
        }
        .header-top__basket {
          span {
            font-family: $OpenSans;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            align-items: center;
            cursor: pointer;
            img {
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }
  }
}
