.section-landing {
  &__links {
    display: grid;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-template-rows: calc(50% - 15px) 50%;
    grid-template-areas: 
      "A B"
      "A C"
    ;
    margin: 0 0 100px 0;
    .picture-link {
      position: relative;
      z-index: -1;
      a {
        text-decoration: none;
        h2 {
          position: absolute;
          color: black;
          font-family: $OpenSans;
          font-size: 30px;
        }
      }
    }
    .big {
      grid-area: A;
      h2 {
        top: 90px;
        left: 60px;
      }
      img {
        height: 750px;
        width: 100%;
        object-fit: cover;
      }
    }
    .small-top {
      grid-area: B;
      h2 {
        top: 30px;
        left: 30px;
      }
      img {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    }
    .small-bottom {
      grid-area: C;
      h2 {
        top: 30px;
        left: 30px;
      }
      img {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    }
  }
  &__futures {
    display: grid;
    grid-template-columns: calc(50% - 15px);
    grid-template-areas: 
      "A B C"
      "A D E"
    ;
    gap: 28px;
    margin: 0 0 100px 0;
    .future-landing {
      display: flex;
      flex-direction: column;
      background: #F8F8F8;
      justify-content: center;
      align-items: center;
      padding: 60px 15px;
      img {
        width: 70px;
        height: 70px;
        margin: 0 0 20px 0;
      }
      span {
        font-family: $OpenSans;
        font-weight: 400;
        text-align: center;
        padding: 0 10px;
      }
    }
    .future-landing:nth-child(1) {
      display: flex;
      grid-area: A;
      align-items: start;
      padding: 60px 45px;
      form {
        width: 100%;
        margin: 0 0 10px 0;
        input {
          width: 70%;
          outline: none;
          height: 40px;
          border: 2px solid black;
          padding: 5px;
          font-family: $Raleway;
          font-size: 16px;
          font-weight: 400;
          color: black;
        }
        button {
          height: 40px;
          border: none;
          background: black;
          color: #fff;
          font-family: $Raleway;
          font-weight: 400;
          font-size: 16px;
          width: 30%;
        }
      }
      h2 {
        font-family: $Raleway;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 28px;
        margin: 0 0 30px 0;
      }
      p {
        font-family: $Raleway;
        font-weight: 400;
        font-size: 12px;
        span {
          text-decoration: underline;
        }
      }
    }
    .future-landing:nth-child(2) {
      grid-area: B;
    }
    .future-landing:nth-child(3) {
      grid-area: C;
    }
    .future-landing:nth-child(4) {
      grid-area: D;
    }
    .future-landing:nth-child(5) {
      grid-area: E;
    }
  }
  &__snapshots {
    display: grid;
    grid-template-areas: 
      "A B"
      "A C"
    ;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    gap: 28px;
    margin: 0 0 100px 0;
    .snapshot-landing:nth-child(1) {
      grid-area: A;
      img {
        height: 750px;
        width: 100%;
        object-fit: cover;
      }
    }
    .snapshot-landing:nth-child(2) {
      grid-area: B;  
      img {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    }
    .snapshot-landing:nth-child(3) {
      grid-area: C;
      img {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__about {
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    gap: 30px;
    margin: 0 0 100px 0;
    .about-block {
      h2 {
        font-family: $Roboto;
        font-weight: 500;
        font-size: 24px;
        margin: 0 0 20px 0;
      }
      p {
        font-family: $Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-landing {
    &__links {
      .big {
        img {
          height: 650px;
        }
      }
      .small-top {
        img {
          height: 310px;
        }
      }
      .small-bottom {
        img {
          height: 310px;
        }
      } 
    }
    &__futures {
      .future-landing:nth-child(1) {
        padding: 60px 25px;
        h2 {
          font-size: 23px;
        }
      }  
    }
    &__snapshots {
      .snapshot-landing:nth-child(1) {
        img {
          height: 650px;
        }
      }
      .snapshot-landing:nth-child(2) {
        img {
          height: 310px;
        }
      }
      .snapshot-landing:nth-child(3) {
        img {
          height: 310px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .section-landing {
    &__futures {
      .future-landing {
        padding: 45px 15px;
      }
    }
  }
  .section-landing__links,
  .section-landing__futures,
  .section-landing__snapshots {
    margin: 0 0 80px 0;
  }
  .section-landing__links {
    .picture-link {
      a {
        h2 {
          font-size: 24px;
        }
      }
    }
  }
  .section-landing {
    &__links {
      .big {
        img {
          height: 540px;
        }
      }
      .small-top {
        img {
          height: 255px;
        }
      }
      .small-bottom {
        img {
          height: 255px;
        }
      } 
    }
    &__snapshots {
      .snapshot-landing:nth-child(1) {
        img {
          height: 540px;
        }
      }
      .snapshot-landing:nth-child(2) {
        img {
          height: 255px;
        }
      }
      .snapshot-landing:nth-child(3) {
        img {
          height: 255px;
        }
      }
    }
  }  
}

@media screen and (max-width: 900px) {
  .section-landing {
    &__links {
      grid-template-areas: "A B"
      "C C";
      grid-gap: 15px;
      grid-template-columns: none;
      grid-template-rows: none;
      .big {
        img {
          height: 410px;
        }
      }
      .small-top {
        img {
          height: 410px;
        }
      }
      .small-bottom {
        img {
          height: 325px;
        }
      }
    }
    .section-landing {
      &__futures {
        grid-template-areas: "A A"
        "B D"
        "C E";
        .future-landing:nth-child(1) {
          h2 {
            letter-spacing: 0;
          }
        }
      }
    }
    .section-landing__about {
      .about-block {
        h2 {
          font-size: 22px;
        }
      }
    }
  } 
}

@media screen and (max-width: 700px) {
  .section-landing {
    &__links {
      grid-template-areas: "A"
      "B"
      "C";
      gap: 15px;
      margin: 0 0 50px 0;
      .big {
        h2 {
          top: 30px;
          left: 35px;
        }
        img {
          height: 435px;
        }
      }
      .small-top {
        img {
          height: 325px;
        }
      }
      .small-bottom {
        img {
          height: 325px;
        }
      }
    }
    &__snapshots {
      grid-template-areas: "A"
      "B"
      "C";
      grid-template-columns: 1fr;
      gap: 15px;
      margin: 0 0 50px 0;
      .snapshot-landing:nth-child(1) {
        img {
          height: 435px;
        }
      }
      .snapshot-landing:nth-child(2) {
        img {
          height: 325px;
        }
      }
      .snapshot-landing:nth-child(3) {
        img {
          height: 325px;
        }
      }
    }
  }
  .section-landing__about {
    grid-template-columns: 1fr;
  }
} 

@media screen and (max-width: 500px) {
  .section-landing {
    &__links {
      margin: 0 0 30px 0;
      .big {
        img {
          height: 300px;
          object-position: bottom;
        }
      }
      .small-top {
        img {
          height: 250px;
        }
      }
      .small-bottom {
        img {
          height: 250px;
        }
      }
    }
    &__futures {
      margin: 0 0 30px 0;
    }
    &__snapshots {
      .snapshot-landing:nth-child(1) {
        img {
          height: 300px;
        }
      }
      .snapshot-landing:nth-child(2) {
        img {
          height: 250px;
        }
      }
      .snapshot-landing:nth-child(3) {
        img {
          height: 250px;
        }
      }
    }
    .section-landing__about {
      margin: 0 0 30px 0;
      .about-block {
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .section-landing {
    .section-landing__futures {
      grid-template-areas:
        "A"
        "B"
        "C"
        "D"
        "E";
      grid-template-columns: 1fr;
      gap: 15px;
      .future-landing:nth-child(1) {
        h2 {
          font-size: 20px;
        }
        form {
          display: flex;
          flex-direction: column;
          input {
            font-size: 14px;
            width: 100%;
            margin: 0 0 10px 0;
          }
          button {
            font-size: 14px;
            width: 100%;
          }
        }
      }
    }
  }
}