.logotype {
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    span {
      text-transform: uppercase;
      font-size: 30px;
      line-height: 30px;
      font-family: $Raleway;
      font-weight: 400;
      cursor: pointer;
    }
  }
}