.menu {
  margin: 0 0 50px 0;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .menu-search {
      form {
        position: relative;
        input {
          background: #fff;
          border: none;
          border-bottom: 1px solid #8d8d8d;
          outline: none;
          width: 300px;
          padding: 5px;
        }
        button {
          position: absolute;
          background: none;
          border: none;
          right: 0;
          bottom: 2px;
        }
      }
    }
    .menu-list {
      nav {
        ul {
          display: flex;
          li {
            list-style: none;
            margin: 0 35px 0 0;
            &:last-child {
              margin: 0;
            }
            a {
              text-decoration: none;
              font-family: $Raleway;
              font-weight: 600;
              font-size: 18px;
              letter-spacing: 1px;
              color: black;
              text-transform: uppercase;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}