.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  z-index: 100;
  padding: 0 20px;
  &.active {
    transform: scale(1);
  }
  .modal-window {
    max-width: 500px;
    width: 100%;
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    &.modal-search {
      overflow-y: auto;
      max-width: 100%;
      width: 95vw;
      height: 95vh;
      .modal-window__content.empty {
        display: flex;
        justify-content: center;
        height: 80%;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .modal-wrapper {
    .modal-window {
      max-width: 450px;
    }
  }
}