.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  z-index: 100;
  &.active {
    transform: scale(1);
  }
  .modal-window {
    max-width: 500px;
    width: 100%;
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
  }
}