.section-product {
  min-height: 1205px;
  padding: 100px 0;
  border-top: 1px solid #979797;
  &__back {
    margin: 0 0 100px 0;
    span {
      font-family: $Roboto;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      img {
        width: 10px;
        height: 10px;
        margin: 0 10px 0 0;
      }
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    margin: 0 0 45px 0;
    .product-slider {
      display: flex;
      flex-direction: row-reverse;
      margin: 0 100px 0 0;
      .slick-slider {
        .slick-list {
          height: 460px;
        }
      }
      .product-slider__main {
        width: 500px;
        margin: 0 0 0 40px;
        .modal-window {
          max-width: 95vw!important;
          height: 95vh;
          &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 30px 0 0 0;
            .slick-slider {
              outline: none;
              .prev-arrow {
                position: absolute;
                top: 50%;
                left: -100px;
                img {
                  width: 20px;
                }
              }
              .next-arrow {
                position: absolute;
                top: 50%;
                right: -100px;
                img {
                  width: 20px;
                }
              }
              .slick-list {
                height: 600px;
                width: 800px;
                img {
                  width: 100%;
                  height: 600px;
                  object-fit: contain;
                }
              }
            }
          }
        }
        .slick-slider {
          margin: 0;
          .slick-list {
            width: 500px;
            .slide-product__main {
              img {
                height: 420px;
                width: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
      .product-slider__nav {
        width: 100px;
        .slick-slider {
          margin: 0;
          .slick-list {
            width: 100px;
            .slide-product__nav {
              margin: 0 0 10px 0;
              img {
                border: 1px solid #ccc;
                height: 95px;
                width:  95px;
                object-fit: contain;
                padding: 5px;
              }
            }
          }
        }  
      }
    }
    .product-aside {
      &__title {
        margin: 0 0 25px 0;
        h2 {
          font-family: $OpenSans;
          font-weight: 400;
          font-size: 24px;
        }
      }
      &__gender {
        margin: 0 0 25px 0;
        span {
          font-family: $Raleway;
          font-size: 16px;
        }
      }
      &__price {
        margin: 0 0 25px 0;
        span {
          font-family: $OpenSans;
          font-size: 20px;
          font-weight: 400;
        }
      }
      &__buttons {
        display: flex;
        button {
          background: #000;
          outline: none;
          color: #fff;
          border: none;
          height: 45px;
          padding: 0 15px;
          font-family: $Roboto;
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
        .add-cart {
          margin: 0 5px 0 0;
        }
        .add-favorite {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  &__description {
    .product-description__title {
      margin: 0 0 60px 0;
      h3 {
        cursor: pointer;
        display: inline;
        padding: 0 0 15px 0;
        border-bottom: 3px solid #ccc;
        font-family: $Raleway;
        font-size: 22px;
      }
    }
    .product-description__section {
      display: flex;
      justify-content: space-between;
      .product-description__text {
        padding: 0 130px 0 0;
        max-width: 600px;
        p {
          font-family: $OpenSans;
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
        }
      }
      .product-description__characteristics {
        dl {
          dt {
            float: left;
            clear: both;
            width: 200px;
            font-family: $OpenSans;
            margin: 0 0 15px 0;
          }
          dd {
            display: flex;
            font-family: $OpenSans;
            margin: 0 0 15px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .section-product {
    padding: 70px 0;
    &__main {
      flex-direction: column;
      .product-slider {
        margin: 0;
        flex-direction: row;
        justify-content: center;
        &__nav {
          display: none;
        }
        .product-slider__main {
          margin: 0;
        }
      }
      .product-aside {
        &__title {
          h2 {
            font-size: 22px;
          }
        }
        &__buttons {
          .add-cart {
            width: 90%;
            height: 55px;
          }
          .add-favorite {
            width: 10%;
            height: 55px;
          }
        }
      }
    }
    &__description {
      .product-description__section {
        flex-direction: column;
        .product-description__text {
          max-width: 100%;
          padding: 0;
          margin: 0 0 40px 0;
        }
        .product-description__characteristics {
          dl {
            dt {
              margin: 0 40px 15px 0;
            }
          }
        }
      }
    }
    &__back {
      margin: 0 0 60px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-product {
    padding: 70px 0;
    &__main {
      flex-direction: column;
      .product-slider {
        margin: 0;
        flex-direction: row;
        justify-content: center;
        &__nav {
          display: none;
        }
      }
      .product-aside {
        &__title {
          h2 {
            font-size: 20px;
          }
        }
      }
    }
  }      
}

@media screen and (max-width: 600px) {
  .section-product {
    padding: 50px 0;
    .section-product__main {
      .product-slider__main {
        width: 350px;
        .slick-slider {
          .slick-list {
            width: 350px;
          }
        }
      }
      .product-aside {
        &__buttons {
          .add-cart {
            width: 80%;
            height: 50px;
          }
          .add-favorite {
            width: 20%;
            height: 50px;
          }
        }
      }
    }
    &__description {
      .product-description__section {
        .product-description__text {
          p {
            font-size: 14px;
          }
        }
        .product-description__characteristics {
          dl {
            font-size: 14px;
          }
        }
      }
    }
  } 
}

@media screen and (max-width: 450px) {
  .section-product {
    .section-product__back {
      margin: 0 0 25px 0;
    }
    .section-product__main {
      .product-slider__main {
        width: 300px;
        .slick-slider {
          .slick-list {
            width: 300px;
          }
        }
      } 
    } 
  } 
}

@media screen and (max-width: 400px) {
  .section-product {
    .section-product__main {
      .product-slider__main {
        width: 250px;
        .slick-slider {
          .slick-list {
            width: 250px;
          }
        }
      } 
    }
    &__description {
      .product-description__section {
        .product-description__characteristics {
          dl {
            dt {
              margin: 0 -30px 15px 0;
            }
          }
        }
      }
    }
  }
}