.slick-slider {
  margin: 0 0 0 120px;
  position: relative;
  cursor: pointer;
}

.slick-list {
  height: 500px;
  width: 500px;
}

.slick-slide {
  width: 500px;
  height: 500px;
}

.slider-image {
  display: flex!important;
  justify-content: center;
  outline: none;
  img {
    height: 500px;
    width: 500px;
    object-fit: contain;
  }
}

.slick-dots {
  position: absolute;
  left: -120px;
  top: 0;
  display: flex!important;
  flex-direction: column;
  width: 85px;
  li {
    background: #f8f8f8;
    width: 85px;
    height: 85px;
    margin: 0 0 20px 0;
    a {
      img {
        width: 85px;
        height: 85px;
        object-fit: contain;
      }
    }
  }
}