.watches-items {
  padding: 90px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  a {
    text-decoration: none;
  }
}
.watch-item {
  width: 350px;
  text-align: center;
  padding: 25px 0;
  border: 1px solid transparent;
  &__image {
    height: 450px;
    img {
      width: 300px;
      height: 100%;
      object-fit: contain;
    }
  }
  &_favorite {
    display: none;
    justify-content: flex-end;
    padding: 0 20px 20px 0;
    cursor: pointer;
    span {
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  &__title {
    text-align: center;
    margin: 40px 0 20px 0;
    padding: 0 20px;
    h2 {
      font-family: $OpenSans;
      font-weight: 500;
      font-size: 18px;
      color: black;
    }
  }
  &__price {
    text-align: center;
    margin: 0 0 40px 0;
    span {
      font-family: $OpenSans;
      font-weight: 400;
      font-size: 18px;
      color: black;
    }
  }
  &__buy {
    display: none;
    button {
      background: black;
      border: none;
      width: 100px;
      height: 40px;
      cursor: pointer;
      a {
        color: #fff;
        font-family: $Raleway;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
  &:hover {
    border-color: #cccccc;
    .watch-item__buy {
      display: block;
    }
    .watch-item_favorite {
      display: flex;
    }
  }
}

@media screen and (max-width: 1080px) {
  .watches {
    .wrapper-watches {
      &__title {
        h1 {
          font-size: 26px;
        }
      }
      .watches-items {
        .watch-item {
          &__image {
            height: 330px;
            img {
              width: 250px;
              height: 330px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper-watches {
    padding: 70px 0 0 0;
    .wrapper-watches__title {
      margin: 0 0 40px 0;
    }
  }
}

@media screen and (max-width: 730px) {
  .watches-items {
    padding: 30px 0 0 0;
  }
} 

@media screen and (max-width: 600px) {
  .watches {
    .wrapper-watches {
      padding: 40px 0 0 0;
      &__title {
        h1 {
          font-size: 22px;
        }
      }
      .watches-items {
        .watch-item__image {
          height: 300px;
          a {
            img {
              height: 300px;
            }
          }
        }
      }
    }
  }  
}

@media screen and (max-width: 450px) {
  .watches-items {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    .watch-item {
      width: 300px;
      padding: 10px 0;
      &__title {
        a {
          h2 {
            font-size: 16px;
          }
        }
      }
      &__price {
        span {
          font-size: 16px;
        }
      }
    }
  }
}