@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

$OpenSans: 'Open Sans', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  height: 100%;
}

.modal-body {
  overflow: hidden;
}

.container {
  max-width: 1830px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-watches,
.container-accessories,
.container-search,
.container-notfound {
  max-width: 1150px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper-watches,
.wrapper-accessories {
  border-top: 1px solid #979797;
  padding: 100px 0 80px 0;
  &__title {
    margin: 0 0 90px 0;
    h1 {
      font-family: $OpenSans;
      font-weight: 600;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      color: black;
    }
  }
}

@import './styles/Logo.scss';
@import './styles/Header.scss';
@import './styles/Menu.scss';
@import './styles/Landing.scss';
@import './styles/Footer.scss';
@import './styles/WatchItem.scss';
@import './styles/FilterItems.scss';
@import './styles/Product.scss';
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";
@import "./styles/Cart.scss";
@import "./styles/Favorite.scss";
@import "./styles/Enter.scss";
@import "./styles/CartEmpty.scss";
@import './styles/Dropdown.scss';
@import './styles/Accessories.scss';
@import './styles/Modal.scss';
@import './styles/MobileMenu.scss';
@import './styles/FilterItemsMobile.scss';
@import './styles/Search.scss';
@import './styles/FavoriteEmpty.scss';
@import './styles/NotFound.scss';
@import './styles/Pagination.scss';